body {
  text-align: center;
  background-color: antiquewhite;
}

div {
  margin-top: 15px;
}

.image-section {
  display: flex;
  justify-content: center;
}

.style-section {
  margin-left: 25px;
  margin-right: 25px;
  background-color: white;
}